* {
  font-family: "Open Sans" !important;
  font-size: 16px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

.c-primary {
  color: #000;
}

.c-secondary {
  color: #ffffff;
}

.next_read {
  color: #FF7517;
}

input, button {
  height: 40px;
}

.btn-default {
  background: #FF7517;
  color: #ffffff;
}

.btn-default:hover, .btn-default:focus {
  background: #f76807;
  color: #ffffff;
}

.bg-f5 {
  background: #F5F5F5;
}

.form-control.btn {
  border-width: 0;
}

.bg-white {
  background: #ffffff;
}

.first-section.home, .advance {
  background: url("../images/4896189089f66fad4a6a87194da56ff4.jpg");
  background-size: 100% 100%;
}

.h-768 {
  height: 768px;
}

.pointer {
  cursor: pointer;
}

.mg-at {
  margin: auto;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.form-control {
  border-radius: 5px;
}

.mg-l-5 {
  margin-left: 5px;
}

.mg-r-2 {
  margin-right: 2px;
}

section.first-section {
  header {
    background: #000000;
  }
  &.home{
    header {
      background: none;
    }
  }
  &.home::before {
    width: 100%;
    height: 100%;
    content: "";
    background: #00000087;
    position: absolute;
    z-index: 0;
  }
  .header {
    .box-header {
      height: 64px;
      .box-header_logo_text {
        color: #ffffff;
        font-size: 24px;
      }

      .box-header_menu {
        ul {
          margin-bottom: 0;
          li {
            margin: auto;
            list-style: none;
            display: inline;
            width: auto;
            margin-left: 8px;
            margin-right: 8px;
            a {
              color: #ffffff;
              text-decoration: none;
              .box-header_menu_rent {
                width: 105px;
                border-radius: 5px;
                text-align: center;
                height: 40px;
                display: inherit;
                border-width: 0;
              }
            }
          }
        }
      }
    }
  }

  .function{
    z-index: 10;
    position: relative;
    .box-function{
      margin: auto;
      margin-top: 125px;
      .box-function_text{
        text-align: center;
        p {
          margin-bottom: 26px;
        }
      }

      .box-function_content {
        form{
          width: 370px;
          margin: auto;
          .row {
            margin-left: 0;
            margin-right: 0;
          }
          .form-group {
            margin-bottom: 10px;
          }

          .form-control {
            border-width: 0;
            border-radius: 5px;
          }

          input {
            color: #ffffff;
            background: #6d6a6a;
            opacity: 0.7;
          }

          input::placeholder {
            color: #ffffff;
          }

          .box-function_content_time {
            input{
              width: 49%;
            }
          }
        }
      }
    }
  }
}

h4 {
  margin-bottom: 30px;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome !important;
}

section.service{
  margin-top: 100px;
  margin-bottom: 100px;
  .box-service-item {
    .box-content {
      border: 1px solid #c4c4c4;
      text-align: center;
      .box-service-item_icon {
        padding-top: 50px;
        padding-bottom: 20px;
      }

      .box-service-item_text {
        padding: 0 5px 56px 5px;
        h6 {
          margin-bottom: 10px;
        }
      }
    }
  }
}

section.product {
  padding-top: 100px;
  padding-bottom: 80px;
  .box-product {
    .box-product_item_img {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

section.article {
  padding-top: 100px;
  padding-bottom: 100px;
  .box-item {
    img {
      width: 100%;
    }

    h6 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }
  }
}

section.advance {
  &::before {
    width: 100%;
    height: 100%;
    content: "";
    background: #00000087;
    position: absolute;
    z-index: 0;
  }
  .box-advance {
    padding-top: 110px;
    padding-bottom: 125px;
    display: block;
    z-index: 10;
    position: relative;
    .box-advance_text {
      h4 {
        margin-bottom: 8px;
      }
    }
    .box-advance_button {
      margin: auto;
      width: 170px;
    }
  }
}

section.footer {
  background: #3B3B3B;
  padding-top: 50px;
  padding-bottom: 50px;
  .box-footer {
    display: block;
    text-align: center;
    .box-footer_social {
      ul {
        li {
          list-style: none;
          display: inline-block;
          margin-left: 4px;
          a{
            display: inline-block;
            width: 32px;
            height: 32px;
            background: #2F2E2E;
            -moz-border-radius: 50%;
            padding: 0px;
            text-align: center;
            line-height: 32px;
            position: relative;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            color: #fff;
            &:hover {
              background: #ffffff;
              color: #000;
            }
          }
        }
      }
    }
  }
}

.bootstrap-select {
  .btn {
    background: #ffffff !important;
  }
}